* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.debug {
    border: solid 1px #ffffff;
}

.txtgrey {
    color: grey;
}

.catalog h3, .subtitle {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #777777;
}

.space-between {
    justify-content: space-between;
}

.hidden-text {
    display: inline-block;
}

.cover {
    max-width: 100%;
}

.round {
    border-radius: 999px;
}

/* DESKTOP VERSION */

/* MAIN */
main {
    height: calc(100vh - 150px);
    display: flex;
    /* DEBUG */
    background-color: #06360f;
}

/* LEFT-MENU */
#left-page {
    height: 100%;
    width: 250px;
    padding: 10px 20px;
    z-index: 999;
    background-color: #000000;
}

/* LOGO */
#img-logo {
    /* height: 115px; */
    height: 13%;
}

#img-logo img {
    max-width: 100%;
    height: 100%;
}

/* SIDE-MENU */
#side-menu {
    height: 20%;
}

/* PLAYLIST MENU */
#playlist-container {
    height: 57%;
}

/* BOTTOM SIDEPAGE */
#bottom-sidepage {
    height: 10%;
}


/* RIGHT MENU */
#right-page {
    height: 100%;
    width: calc(100% - 250px);
    position: relative;
    background-color: #141922;
}

#top-rightbar {
    height: 115px;
    width: 100%;
    opacity: 0.4;
    background-color: #080b12;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

#top-rightbar > a {
    padding: 20px;
    border: solid 1px #ffffff;
    border-radius: 1000px;
}

#main-rightpage {
    height: 100%;
    overflow: auto;
    padding-top: 115px;
    /* DEBUG */
    /* background-color: #0056f7; */
}

#main-topbar > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#main-topbar li {
    padding: 20px;
}

.catalog {
    display: flex;
    align-items: center;
    gap: 15px;
}

.catalog li {
    width: calc(100% / 6);
    flex-shrink: 1;
}

/* .mockup-img {
    /* DEBUG */
    /* background-color: #032d8f;
    width: 200px;
    height: 200px; 
} */

/* FOOTER */
#player {
    height: 150px;
    padding: 0 10px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#song-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

#song-info img {
    height: auto;
    width: 100px;
    display: block;
}

#main-controls {
    width: 30%;
}

#main-controls > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#main-controls {
    text-align: center;
}

.timeline {
    border: solid 1px #ffffff;
    border-radius: 999px;
    background-color: #777777;
    opacity: 0.3;
    width: 70%;
    height: 6px;
}

#side-controls {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

/* TABLET VERSION */


/* MOBILE VERSION */
@media screen and (max-width: 552px) {

.hidden-text {
    display: none;
}

/* MAIN */
/* LEFT MENU */
#left-page {
    width: 50px;
    padding: 0;
}


/* RIGHT MENU */
#right-page {
    width: calc(100% - 50px);
}

#main-topbar > ul {
    flex-wrap: wrap;
    gap: 5px;
}

#main-topbar li {
    width: calc(80% / 4);
    padding: 20px 0;
}

.row > h2 {
    text-align: center;
}

.catalog {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.catalog > li {
    width: calc(95% / 2);
}

/* FOOTER */
footer {
    flex-wrap: wrap;
}

#song-info {
    gap: 10px;
}

#song-info > div:first-child {
    width: 50px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

}